$color-subaru-blue-50: #F5F8FE;
$color-subaru-blue-100: #DCE5FE;
$color-subaru-blue-200: #A1BCFC;
$color-subaru-blue-300: #5796FB;
$color-subaru-blue-400: #1971D4;
$color-subaru-blue-500: #0E4F97;
$color-subaru-blue-600: #052F5E;
$color-blue-700: #011129;
$color-gray-50: #E8E9EA;
$color-gray-100: #D2D3D5;
$color-gray-200: #BBBEC0;
$color-gray-300: #A5A8AB;
$color-gray-400: #8E9296;
$color-gray-500: #777C80;
$color-gray-600: #61666B;
$color-gray-700: #4A5156;
$color-gray-800: #343B41;
$color-gray-900: #1D252C;
$color-red-100: #FFE0E4;
$color-red-200: #F799A5;
$color-red-300: #F26678;
$color-red-400: #EE334B;
$color-red-500: #EA001E;
$color-red-600: #BB0018;
$color-red-700: #8C0012;
$color-red-800: #5E000C;
$color-red-900: #2F0006;
$color-indigo-100: #E7EAF9;
$color-indigo-200: #9AAAE6;
$color-indigo-300: #677FD9;
$color-indigo-400: #3555CD;
$color-indigo-500: #022AC0;
$color-indigo-600: #02229A;
$color-indigo-700: #011973;
$color-indigo-800: #01114D;
$color-indigo-900: #000826;
$color-green-100: #ECF4EF;
$color-green-200: #ABCEB7;
$color-green-300: #82B592;
$color-green-400: #589D6E;
$color-green-500: #2E844A;
$color-green-600: #256A3B;
$color-green-700: #1C4F2C;
$color-green-800: #12351E;
$color-green-900: #091A0F;
$color-yellow-100: #FEF7E1;
$color-yellow-200: #FEE69A;
$color-yellow-300: #FDD968;
$color-yellow-400: #FDCD35;
$color-yellow-500: #FCC003;
$color-yellow-600: #CA9A02;
$color-yellow-700: #977302;
$color-yellow-800: #654D01;
$color-yellow-900: #322601;
$color-orange-100: #FFEEE0;
$color-orange-200: #FFD4B0;
$color-orange-300: #FEBE88;
$color-orange-400: #FEA961;
$color-orange-500: #FE9339;
$color-orange-600: #CB762E;
$color-orange-700: #985822;
$color-orange-800: #663B17;
$color-orange-900: #331D0B;
$color-crimson-red-100: #FFDFD5;
$color-crimson-red-200: #FFBEAB;
$color-crimson-red-300: #FF9E81;
$color-crimson-red-400: #FF7D57;
$color-crimson-red-500: #FF5D2D;
$color-crimson-red-600: #CC4A24;
$color-crimson-red-700: #99381B;
$color-crimson-red-800: #662512;
$color-crimson-red-900: #331309;
$color-teal-100: #E4FCFA;
$color-teal-200: #9BF3EA;
$color-teal-300: #68EDE0;
$color-teal-400: #36E7D5;
$color-teal-500: #04E1CB;
$color-teal-600: #03B4A2;
$color-teal-700: #02877A;
$color-teal-800: #025A51;
$color-teal-900: #012D29;
$color-pink-100: #FCE4EF;
$color-pink-200: #F49BC3;
$color-pink-300: #EE6AA6;
$color-pink-400: #E93888;
$color-pink-500: #E3066A;
$color-pink-600: #B60555;
$color-pink-700: #880440;
$color-pink-800: #5B022A;
$color-pink-900: #2D0115;
$color-purple-100: #EEE4FC;
$color-purple-200: #D3B9F6;
$color-purple-300: #BC96F2;
$color-purple-400: #A673ED;
$color-purple-500: #9050E9;
$color-purple-600: #7340BA;
$color-purple-700: #56308C;
$color-purple-800: #3A205D;
$color-purple-900: #1D102F;
$color-base-black: #000000;
$color-base-white: #FFFFFF;

$theme-primary: $color-subaru-blue-400;
$theme-secondary: $color-gray-900;
$theme-success: $color-green-500;
$theme-info: $color-indigo-500;
$theme-warning: $color-orange-500;
$theme-danger: $color-red-500;
$theme-light: $color-blue-50;
$theme-dark: $color-gray-900;

$semantic-bg-primary: $theme-primary;
$semantic-bg-secondary: $theme-secondary;
$semantic-bg-light: $theme-light;
$semantic-bg-success: $theme-success;
$semantic-bg-error: $theme-danger;
$semantic-bg-warning: $theme-warning;
$semantic-bg-info: $theme-info;
$semantic-bg-disabled: $color-gray-100;
$semantic-text-default: $color-gray-900;
$semantic-text-medium: $color-gray-600;
$semantic-text-light: $color-gray-400;
$semantic-text-lighter: $color-gray-100;
$semantic-border-default: $color-gray-100;
$semantic-border-light: $color-gray-50;
$semantic-border-dark: $color-gray-500;
$semantic-border-focus: $color-blue-500;
$semantic-state-error: $theme-danger;
$semantic-state-success: $theme-success;
$semantic-state-warning: $theme-warning;
$semantic-state-info: $theme-info;

$font-family-base: 'Inter', sans-serif;
$font-family-heading: 'Inter', sans-serif;
$font-family-mono: 'Fira Code', monospace;
$font-size-xs: 0.625rem;
$font-size-sm: 0.75rem;
$font-size-md: 0.875rem;
$font-size-lg: 1rem;
$font-size-xl: 1.25rem;
$font-size-2xl: 1.5rem;
$font-size-4xl: 2rem;
$font-size-5xl: 2.375rem;
$font-size-6xl: 3rem;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-lineHeight-tight: 1.2;
$font-lineHeight-normal: 1.5;
$font-lineHeight-relaxed: 1.75;

$radius-sm: 0.125rem;
$radius-md: 0.25rem;
$radius-lg: 0.375rem;
$radius-xl: 0.5rem;
$radius-2xl: 0.75rem;
$radius-3xl: 1rem;
$radius-full: 9999px;

$spacing-0: 0;
$spacing-1: 0.125rem;
$spacing-2: 0.25rem;
$spacing-3: 0.375rem;
$spacing-4: 0.5rem;
$spacing-5: 0.625rem;
$spacing-6: 0.75rem;
$spacing-7: 0.875rem;
$spacing-8: 1rem;
$spacing-9: 1.125rem;
$spacing-10: 1.25rem;
$spacing-11: 1.375rem;
$spacing-12: 1.5rem;
$spacing-13: 1.625rem;
$spacing-14: 1.75rem;
$spacing-15: 2rem;
$spacing-16: 2.125rem;
$spacing-17: 2.375rem;
$spacing-18: 2.625rem;
$spacing-19: 3rem;
$spacing-20: 3.5rem;

