// ===========================================
// TYPOGRAPHY SYSTEM
// ===========================================

// FONT WEIGHTS
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// TYPE SCALE
$display-1-font-size: 5rem;
$display-2-font-size: 4.5rem;
$display-3-font-size: 4rem;
$display-4-font-size: 3.5rem;
$display-5-font-size: 3rem;
$display-6-font-size: 2.5rem;

$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

$title-sm-font-size: 0.75rem;
$title-lg-font-size: 1rem;
$title-md-font-size: 0.875rem;

$label-sm-font-size: 0.75rem;
$label-md-font-size: 0.875rem;
$label-lg-font-size: 1rem;

$body-lg-font-size: 1rem;
$body-md-font-size: 0.875rem;
$body-sm-font-size: 0.75rem;
$body-xs-font-size: 0.625rem;
